In [71]:
from import_libs import *

In [3]:
df = pd.read_csv('data/GBPUSD_5_clean.csv', header=0, index_col='time', parse_dates=True)

In [15]:
df['sma5'] = df['close'].rolling(window=5,min_periods=1, center=False).mean()
df['sma13'] = df['close'].rolling(window=13,min_periods=1, center=False).mean()
df['signal'] = np.nan
df.head(15)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>mean</th>
      <th>distance</th>
      <th>point</th>
      <th>point_abs</th>
      <th>hour</th>
      <th>sma5</th>
      <th>sma13</th>
      <th>signal</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-12-02 22:00:00</th>
      <td>1.274335</td>
      <td>1.275200</td>
      <td>1.273350</td>
      <td>1.274750</td>
      <td>1.274542</td>
      <td>0.000415</td>
      <td>4.15</td>
      <td>4.15</td>
      <td>22</td>
      <td>1.274750</td>
      <td>1.274750</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:05:00</th>
      <td>1.274750</td>
      <td>1.275205</td>
      <td>1.274295</td>
      <td>1.274700</td>
      <td>1.274725</td>
      <td>-0.000050</td>
      <td>-0.50</td>
      <td>0.50</td>
      <td>22</td>
      <td>1.274725</td>
      <td>1.274725</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:10:00</th>
      <td>1.274565</td>
      <td>1.274565</td>
      <td>1.274110</td>
      <td>1.274170</td>
      <td>1.274367</td>
      <td>-0.000395</td>
      <td>-3.95</td>
      <td>3.95</td>
      <td>22</td>
      <td>1.274540</td>
      <td>1.274540</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:15:00</th>
      <td>1.274175</td>
      <td>1.274310</td>
      <td>1.273985</td>
      <td>1.274050</td>
      <td>1.274112</td>
      <td>-0.000125</td>
      <td>-1.25</td>
      <td>1.25</td>
      <td>22</td>
      <td>1.274417</td>
      <td>1.274417</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:20:00</th>
      <td>1.274045</td>
      <td>1.274810</td>
      <td>1.273970</td>
      <td>1.274570</td>
      <td>1.274307</td>
      <td>0.000525</td>
      <td>5.25</td>
      <td>5.25</td>
      <td>22</td>
      <td>1.274448</td>
      <td>1.274448</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:25:00</th>
      <td>1.274580</td>
      <td>1.274675</td>
      <td>1.274005</td>
      <td>1.274010</td>
      <td>1.274295</td>
      <td>-0.000570</td>
      <td>-5.70</td>
      <td>5.70</td>
      <td>22</td>
      <td>1.274300</td>
      <td>1.274375</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:30:00</th>
      <td>1.274025</td>
      <td>1.274440</td>
      <td>1.273980</td>
      <td>1.274110</td>
      <td>1.274068</td>
      <td>0.000085</td>
      <td>0.85</td>
      <td>0.85</td>
      <td>22</td>
      <td>1.274182</td>
      <td>1.274337</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:35:00</th>
      <td>1.274120</td>
      <td>1.274175</td>
      <td>1.273585</td>
      <td>1.273915</td>
      <td>1.274018</td>
      <td>-0.000205</td>
      <td>-2.05</td>
      <td>2.05</td>
      <td>22</td>
      <td>1.274131</td>
      <td>1.274284</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:40:00</th>
      <td>1.273915</td>
      <td>1.274045</td>
      <td>1.273825</td>
      <td>1.274035</td>
      <td>1.273975</td>
      <td>0.000120</td>
      <td>1.20</td>
      <td>1.20</td>
      <td>22</td>
      <td>1.274128</td>
      <td>1.274257</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:45:00</th>
      <td>1.274030</td>
      <td>1.274200</td>
      <td>1.273330</td>
      <td>1.273850</td>
      <td>1.273940</td>
      <td>-0.000180</td>
      <td>-1.80</td>
      <td>1.80</td>
      <td>22</td>
      <td>1.273984</td>
      <td>1.274216</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:50:00</th>
      <td>1.273870</td>
      <td>1.274560</td>
      <td>1.273830</td>
      <td>1.273880</td>
      <td>1.273875</td>
      <td>0.000010</td>
      <td>0.10</td>
      <td>0.10</td>
      <td>22</td>
      <td>1.273958</td>
      <td>1.274185</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 22:55:00</th>
      <td>1.273875</td>
      <td>1.273875</td>
      <td>1.273505</td>
      <td>1.273745</td>
      <td>1.273810</td>
      <td>-0.000130</td>
      <td>-1.30</td>
      <td>1.30</td>
      <td>22</td>
      <td>1.273885</td>
      <td>1.274149</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 23:00:00</th>
      <td>1.273740</td>
      <td>1.273995</td>
      <td>1.273635</td>
      <td>1.273960</td>
      <td>1.273850</td>
      <td>0.000220</td>
      <td>2.20</td>
      <td>2.20</td>
      <td>23</td>
      <td>1.273894</td>
      <td>1.274134</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 23:05:00</th>
      <td>1.273955</td>
      <td>1.273955</td>
      <td>1.273795</td>
      <td>1.273875</td>
      <td>1.273915</td>
      <td>-0.000080</td>
      <td>-0.80</td>
      <td>0.80</td>
      <td>23</td>
      <td>1.273862</td>
      <td>1.274067</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-02 23:10:00</th>
      <td>1.273865</td>
      <td>1.273985</td>
      <td>1.273785</td>
      <td>1.273890</td>
      <td>1.273877</td>
      <td>0.000025</td>
      <td>0.25</td>
      <td>0.25</td>
      <td>23</td>
      <td>1.273870</td>
      <td>1.274005</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
df['signal']=df['sma5'][5:]>df['sma13'][5:]
df['signal']=df['signal'].diff()
df.head(25)

df.to_csv('data/GBPUSD_M5_signal.csv', float_format='%.6f')

In [79]:
data = df[:100]

fig = plt.figure()
ax1 = fig.add_subplot(111, ylabel='Price in $')
data['close'].plot(ax=ax1, color='r', lw=2.)

data[['sma5', 'sma13']].plot(ax=ax1, lw=2.)


ax1.plot(data.loc[data.signal == 1.0].index,
         data.sma5[data.signal == 1.0],
         '^', markersize=5, color='m')

ax1.plot(data.loc[data.signal == -1.0].index,
         data.sma5[data.signal == -1.0],
         'v', markersize=2, color='k')
plt.show()